*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* google font */
.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;    
}
/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.btn-2{
    border-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: #FD6E0A;
    background-color: transparent;
    padding: 18px 35px;
    border-radius: 5px;
    margin-left: 20px;
}
.text-center{
    text-align: center;
}
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 230px;
    margin-bottom: 40px;
}
.nav-title{
    font-weight: 800px;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
nav ul{
    display: flex;
    align-items: center;
}
/* header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-content{
    width: 585px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
    margin-top: 100px;
    margin-bottom: 40px;
}
.banner-title-info{
    font-size: 18px;
    color: #474747;
    margin-bottom: 20px;
}
.banner-pro-pic{
    width: 584px;
}

/* main  -about*/
main{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 150px;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.about{
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 15px;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.about-item{
    margin-top: 20px;
}
.item-description{
    font-weight: 600;
    margin-top: 10px;
}
/* skill section */
.skills{
    margin-top: 100px;
}
.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.skills-container{
    margin-top: 30px;
}
.skill-title, .skill-description{
    margin-top: 20px;
    font-size: 18px;
}


/* resume */
.resume-container{
    display: flex;
    gap: 24px;
    margin-top: 100px;
}
.resume-column-title{
    font-size: 28px;
    margin-bottom: 20px;
}
.experince-title{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
}
.experience-sub-title{
    font-size: 20px;
    color: #4d4d4d;
    margin-bottom: 10px;
}
.experience-description{
    color: #757575;
    font-size: 17px;
    margin-bottom: 15px;
}
hr{
    margin-bottom: 20px;
}
.resume-download-cv{
    margin-top: 50px;
}